#root{
    text-align: center;
}

    .player-name{
        color: red;
    }

    .restart-button{

    }

    .current-player{
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    .board{
        padding: 1rem;
    }

        .board-row{
            text-align: center;
        }

            .board-column{
                border: 1px solid black;
                width: 2rem;
                height: 2rem;
                display: inline-block;
                font-size: 1.75rem;
            }

                .board-column.occupied{
                    cursor: no-drop;
                }

                .board-column.empty{
                    cursor: pointer;
                }

                .board-column.winner{
                    background-color: green;
                    color: red;
                }

    .winner-player{
        color: green;
        font-size: 2rem;
        font-weight: bold;
    }